<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.Streams</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IterateReadableStream">
                <span class="oi oi-loop-circular" aria-hidden="true"></span> Iterate ReadableStream
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StreamReadAsByteArrays">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Iterate As ByteArrays
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StreamReadAsStrings">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Iterate As Strings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateReadableStream">
                <span class="oi oi-arrow-top" aria-hidden="true"></span> Create Read Stream
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateWritableStream">
                <span class="oi oi-arrow-bottom" aria-hidden="true"></span> Create Write Stream
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Status">
                <span class="oi oi-warning" aria-hidden="true"></span> API Coverage Status
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
