@page "/"

<PageTitle>Index</PageTitle>

<h2>We still need a demo of this</h2>
<p>We will be inspired by these but utilize .NET data: <a href="https://streams.spec.whatwg.org/demos/" target="_blank">https://streams.spec.whatwg.org/demos/</a></p>