@page "/StreamReadAsByteArrays"
@inject IJSInProcessRuntime JSRuntime

<PageTitle>Streams - Iterate As ByteArrays</PageTitle>

<h2>Reading a stream as byte arrays</h2>
On this page we create a <code>MemoryStream</code> of @dataSize bytes in C# and parse that to JavaScript to create a <code>IJSObjectReference</code> for the stream.
<br />
From the JS reference we create a <code>ReadableStream</code> and gets it default reader.
<br />
We iterate the reader using <code>await foreach (byte[] chunk in reader.IterateByteArrays())</code>
@for (int i = 0; i < chunkSizes.Count; i++)
{
    <div><b>chunk @i size: </b> @chunkSizes[i] bytes</div>
}


@code {
    private List<int> chunkSizes = new();
    private int dataSize = 1000 * 1024;

    protected override async Task OnInitializedAsync()
    {
        using Stream data = new System.IO.MemoryStream(new byte[dataSize]);
        using DotNetStreamReference streamRef = new DotNetStreamReference(stream: data, leaveOpen: false);
        IJSInProcessObjectReference jSStreamReference = await JSRuntime.InvokeAsync<IJSInProcessObjectReference>("jSStreamReference", streamRef);
        ReadableStream readableStream = await ReadableStream.CreateAsync(JSRuntime, jSStreamReference);
        ReadableStreamDefaultReader reader = await readableStream.GetDefaultReaderAsync();
        await foreach (byte[] chunk in reader.IterateByteArraysAsync())
        {
            chunkSizes.Add(chunk.Length);
            await Task.Delay(100);
            StateHasChanged();
        }
    }
}